.content {
    border: 2px;
    color: rgb(99, 20, 46);
    height: 500px;
    background-position: center;
    background-image: cover;
    background-size: contain;
}
    
    
.one {
    background-color: pink;

}
.two {
    background-color: plum;

}
.three {
    background-color: rgb(253, 109, 210);

}
header {
    border: 4px; color: black;
    
    display: flex;
    align-items: center;

    gap: 200px;
    position: fixed;
    width: 500px;

}
.product {
    background-image: url("./images/about us page.png");
    
}
.contactus {
    background-image: url("./images/product page.png");
    

}
.aboutus {
    background-image: url("./images/contact us.png"); 
    
}
.footer {
    color: brown;
    
}